.main {
    background:#F8F7FF;
    background-image: url(../../../assets/icons/Pattern.svg);
    background-repeat: no-repeat;
}
.first-heading {
    color: #5e56e7;
    font-family: m-sb;
    font-size: 48px;
}
.first-para {
    color: #333333;
    font-family: m-sb;
}
.first-block {
    margin-top: 70px;
}
.second-block{
    margin-top: 20px;
}